@(content: Html)(implicit request: play.api.mvc.Request[AnyContent])


<body style="background-color: #eeeeee">
  <h1 style="color: #FFFFFF; background-color: #333333; padding: 5px 20px; font-size: 20px; font-family:Verdana, sans-serif;">Garden Caffé</h1>

  <div id="content" style="padding: 5px 20px">
    @content

    <p>
      <i style="font-size: 90%">
        Ceci est un email automatique. Merci de ne pas y répondre.<br />
        <a href="@routes.ContactCtl.page().absoluteURL()">Cliquez ici</a> pour contacter le Garden Caffé.
      </i>
    </p>
  </div>

</body>