@(feedback: models.Feedback)

<article class="post" itemprop="review" itemscope itemtype="http://schema.org/Review">
  <div class="text">
    <header>
      <h5 itemprop="name">@feedback.title</h5>
      <time class="date" datetime="@feedback.date.toString()" pubdate itemprop="datePublished">
        @feedback.formatedDate
      </time>
    </header>
    <p itemprop="reviewBody">
      @Html(feedback.msg.replaceAll("\\r?\\n","<br/>"))
    </p>
    <footer class="author_box">
      <h6 itemprop="author">@feedback.author</h6>
    </footer>
  </div>
</article>