@()


<footer id="footer">
  <div class="container">
    <div class="row info">
      <div class="span6 residence">
        <ul>
          <li>Chemin de Quaben</li>
          <li>BP 8069 - Libreville</li>
        </ul>
      </div>
      <div class="span5 touch">
        <ul>
          <li class="phone"><strong>Tel.</strong><span class="data">00 241 01 73 89 89</span></li>
          <li class="mail"><strong>EMail</strong><span class="data">contact@@garden-caffe.fr</span></li>
        </ul>
      </div>
    </div>

    <div class="row credits">
      <div class="span12">
        <div class="row social">
          <div class="span12">
            <a href="#" class="facebook">
              <span class="socialicons ico1"></span>
              <span class="socialicons_h ico1h"></span>
            </a>
            <a href="#" class="twitter">
              <span class="socialicons ico2"></span>
              <span class="socialicons_h ico2h"></span>
            </a>
          </div>
        </div>

        <div class="row copyright">
          <div class="span12">
            © 2013 Garden Caffé. Tous droits réservés. Web design par 3K.
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>