@()(implicit request: play.api.mvc.Request[AnyContent])


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/index.html">
        <strong>Garden Caffé</strong>
      </a>
      <ul class="nav pull-right">
        <li>
          <a @if(request.uri.startsWith(routes.Home.index().url)){class="active"} href="@routes.Home.index()">accueil</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.Booking.page().url)){class="active"} href="@routes.Booking.page()">réservation</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.Feedback.page().url)){class="active"} href="@routes.Feedback.page()">avis</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.Contact.page().url)){class="active"} href="@routes.Contact.page()">contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

