@()(implicit request: play.api.mvc.Request[AnyContent])


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="@routes.HomeCtl.index()">
        <strong>Garden Caffé</strong>
      </a>
      <ul class="nav pull-right">
        <li>
          <a @if(request.uri.equals(routes.HomeCtl.index().url)){class="active"} href="@routes.HomeCtl.index()">accueil</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.BookingCtl.page().url)){class="active"} href="@routes.BookingCtl.page()">réservation</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.FeedbackCtl.page().url)){class="active"} href="@routes.FeedbackCtl.page()">avis</a>
        </li>
        <li>
          <a @if(request.uri.startsWith(routes.ContactCtl.page().url)){class="active"} href="@routes.ContactCtl.page()">contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>

