@()(implicit request: play.api.mvc.Request[AnyContent])


@main("Réservation - Garden Caffé") {

  <main id="contact">
    <section class="container">
      <div class="section_header">
        <h3>Réservation</h3>
      </div>

      <div class="row contact">
        <header>
          <p>
            Réservez dès maintenant en ligne. Nous reviendrons très vite vers vous pour vous confirmez votre séjour.<br />
            N'hésitez pas à nous contacter pour un séjour longue durée.
          </p>
        </header>
        <form id="bookingForm" method="POST" action="@routes.BookingCtl.create()">
          <div class="row form">
            <div class="span6 box">
              <div id="nameCtrl" class="control-group">
                <div class="controls">
                  <input class="name" type="text" placeholder="Nom" name="name">
                  <span class="help-block">Indiquez votre nom</span>
                </div>
              </div>
              <div id="emailCtrl" class="control-group">
                <div class="controls">
                  <input class="mail" type="text" placeholder="Email" name="email">
                  <span class="help-block">Indiquez votre email</span>
                </div>
              </div>
              <input class="phone" type="text" placeholder="Téléphone" name="phone">

              <div class="row">
                <div id="fromCtrl" class="control-group">
                  <div class="controls">
                    <div id="from" class="input-append date span2">
                      <input id="fromInput" type="text" size="16" placeholder="Arrivée" name="inDate" readonly>
                      <span class="add-on">
                        <i class="icon-th"></i>
                      </span>
                    </div>
                    <span class="help-block">Indiquez les dates d'arrivée et de départ</span>
                  </div>
                </div>
                <div id="arrow" class="span1">
                  <i class="icon-arrow-right"></i>
                </div>
                <div id="toCtrl" class="control-group">
                  <div class="controls">
                    <div id="to" class="input-append date span2">
                      <input id="toInput" type="text" size="16" placeholder="Départ" name="outDate" readonly>
                      <span class="add-on">
                        <i class="icon-th"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div id="peopleNbCtrl" class="control-group">
                  <div class="controls">
                    <div id="nb-people" class="input-append span2">
                      <input type="text" placeholder="Nombre" name="peopleNb">
                      <span class="add-on">personne(s)</span>
                    </div>
                    <span class="help-block">Indiquez le nombre de personnes</span>
                  </div>
                </div>
                <div id="nb-night" class="input-append span2">
                  <input id="nbNightVal" type="text" placeholder="Nombre" readonly>
                  <span class="add-on">nuit(s)</span>
                </div>
              </div>

              <select id="accommodation" class="span6" name="accommodationType">
                <option value="Bungalow">Bungalow</option>
                <option value="ClassicRoom">Chambre classique</option>
              </select>

              <textarea class="text" placeholder="Écrivez votre message ici..." name="msg"></textarea>

              <div id="bookingSuccess" class="alert alert-success">
                <strong>Merci !</strong> Un email de confirmation vous avez été envoyé.
              </div>

              <div id="bookingSubmit" class="row submit">
                <div class="span3 right">
                  <input type="submit" value="Envoyez votre réservation">
                </div>
              </div>
            </div>

            <div id="in_pricing2" class="span6 gc-pricing">
              <div class="row charts_wrapp">
                <div class="span4 ultra pull-right" style="margin-bottom: 10px;">
                  <div class="plan" style="top: 0px;">
                    <div class="wrapper">
                      <h3>Bungalow</h3>
                      <div class="price">
                        <span class="qty">51 000</span>
                        <span class="dollar">FCFA</span>
                        <span class="month">/jour</span>
                        <span class="validity">(tarif 2013)</span>
                      </div>
                      <div class="features">
                        <p>Chambre double</p>
                        <p>Kitchenette</p>
                        <p>Terrasse</p>
                        <p>Climatisé</p>
                        <p><strong>Long séjour</strong> : <a href="@routes.ContactCtl.page()">nous contacter</a></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="span4 ultra pull-right">
                  <div class="plan" style="top: 0px;">
                    <div class="wrapper">
                      <h3>Chambre classique</h3>
                      <div class="price">
                        <span class="qty">51 000</span>
                        <span class="dollar">FCFA</span>
                        <span class="month">/jour</span>
                        <span class="validity">(tarif 2013)</span>
                      </div>
                      <div class="features">
                        <p>Chambre double</p>
                        <p><strong>Long séjour</strong> : <a href="@routes.ContactCtl.page()">nous contacter</a></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </main>

}