@()(implicit request: play.api.mvc.Request[AnyContent])


@main("Contact - Garden Caffé", "Horaires d'ouverture et espace de contact. N'hésitez pas ! " +
    "Nous vous répondrons dès que possible.") {

  <main id="contact">
    <section class="container">
      <div class="section_header">
        <h3>Contactez nous</h3>
      </div>
      <div class="row contact">
        <header>
          <p>
            Une question ? Une critique ? Une réservation pour un séjour longue durée ?<br />
            N'hésitez pas à nous contacter.
          </p>
        </header>
        <form id="contactForm" method="POST" action="@routes.ContactCtl.create()">
          <div class="row form">
            <div class="span6 box">
              <div id="nameCtrl" class="control-group">
                <div class="controls">
                  <input class="name" type="text" placeholder="Nom" name="name">
                  <span class="help-block">Indiquez votre nom</span>
                </div>
              </div>
              <div id="emailCtrl" class="control-group">
                <div class="controls">
                  <input class="mail" type="text" placeholder="Email" name="email">
                  <span class="help-block">Indiquez votre email</span>
                </div>
              </div>
              <input class="phone" type="text" placeholder="Téléphone" name="phone">
              <div id="msgCtrl" class="control-group">
                <div class="controls">
                  <textarea class="text" placeholder="Écrivez votre message ici..." name="msg"></textarea>
                  <span class="help-block">Écrivez un message</span>
                </div>
              </div>

              <div id="contactSuccess" class="alert alert-success">
                <strong>Ok !</strong> Votre message à bien été transmis.
              </div>
              <div id="contactSubmit" class="row submit">
                <div class="span3 right">
                  <input type="submit" value="Envoyez votre message">
                </div>
              </div>
            </div>

            <aside class="span6 box box_r">
              <h4>Horaires</h4>
              <p>
                Ouvert tous les jours<br />
                <time itemprop="openingHours" datetime="Mo-Su 08:00-01:00">8h00 - 1h00</time>
              </p>
              <h4>Restauration</h4>
              <p>
                Midi : <time>12h00 - 14h30</time><br />
                Soir : <time>19h30 - 22h</time>
              </p>
            </aside>
          </div>
        </form>
      </div>
    </section>

    <div class="row map">
      <div class="container">
        <div class="span5 box_wrapp">
          <section class="box_cont">
            <div class="head">
              <h6>Contact</h6>
            </div>
            <address>
              <ul class="street">
                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                  <li itemprop="streetAddress">Chemin de Quaben</li>
                  <li>
                    <span itemprop="postalCode">BP 8069</span> -
                    <span itemprop="addressLocality">Libreville</span> -
                    <span itemprop="addressCountry">GABON</span>
                  </li>
                </div>
                <li class="icon icontop">
                  <span class="contacticos ico1"></span>
                  <span class="text" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <meta itemprop="contactType" content="booking" />
                    <span itemprop="telephone">00 241 01 73 89 89</span> (<span itemprop="name">Réservation</span>)
                  </span>
                </li>
                <li class="icon">
                  <span class="contacticos ico1"></span>
                  <span class="text" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <span itemprop="telephone">00 241 07 37 37 17</span> (<span itemprop="name">Patrice</span>)
                  </span>
                </li>
                <li class="icon">
                  <span class="contacticos ico1"></span>
                  <span class="text" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                    <span itemprop="telephone">00 241 05 32 40 92</span> (<span itemprop="name">Jacques</span>)
                  </span>
                </li>
                <li class="icon" itemprop="contactPoint" itemscope itemtype="http://schema.org/ContactPoint">
                  <span class="contacticos ico2"></span>
                  <meta itemprop="contactType" content="contact" />
                  <a class="text" href="#" itemprop="email">contact@@garden-caffe.com</a>
                </li>
              </ul>
            </address>
          </section>
        </div>
      </div>
      <iframe itemprop="map" id="map-garden" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=Garden+Caff%C3%A9,+Libreville,+Gabon&amp;aq=0&amp;oq=garden+ca&amp;sll=0.412032,9.431092&amp;sspn=0.004586,0.008234&amp;ie=UTF8&amp;hq=Garden+Caff%C3%A9,&amp;hnear=Libreville,+Komo-Mondaha,+Estuaire,+Gabon&amp;t=m&amp;ll=0.414602,9.423866&amp;spn=0.025749,0.058579&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    </div>
  </main>

}