@(feedbacks: Seq[models.Feedback],
  currentPage: Int,
  totalPage: Int)(implicit request: play.api.mvc.Request[AnyContent])


@main("Avis des clients - Garden Caffé") {

  <div id="feedback" class="content">
    <div class="container">
      <div class="section_header">
        <h3>Avis des clients</h3>
      </div>

      <form method="POST" action="@routes.FeedbackCtl.create()">
        <input type="text" placeholder="Titre..." name="title" />
        <input type="text" placeholder="Votre nom..." name="author" />
        <input type="text" placeholder="Votre commentaire..." name="msg" />
        <input type="submit" value="Valider" />
      </form>

      <div class="row post_row">
        @feedbacks.foreach( fb => utils.oneFeedback(fb))
      </div>

      @if(totalPage > 1) {
        <div id="pagination" class="pagination">
          <ul>
            <li>
              <a href="@routes.FeedbackCtl.page(currentPage - 1)">Préc</a>
            </li>
            @for(i <-  1 to totalPage) {
              <li>
                <a href="@routes.FeedbackCtl.page(i)">@i</a>
              </li>
            }
            <li>
              <a href="@routes.FeedbackCtl.page(currentPage + 1)">Suiv</a>
            </li>
          </ul>
        </div>
      }
    </div>
  </div>

}