@()(implicit request: play.api.mvc.Request[AnyContent])


@main("Avis des clients - Garden Caffé") {

  <div id="feedback" class="content">
    <div class="container">
      <div class="section_header">
        <h3>Avis des clients</h3>
      </div>

      <div class="row post_row">
        <div class="span6">
          <div class="post">
            <div class="text">
              <h5>Je reviendrai</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                Cadre idéal, service impeccable, ambiance excellente, Internet WiFi gros gros débit...<br/>
                Un seul hic, supporter de l'OM !!! ALLEZ PARIS !!!
              </p>
              <div class="author_box">
                <h6>STEPH</h6>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Diner mouvementé</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                suis venu diner avec ma copine un mercredi soir. je ne le savais pas mais ce soir là était date du match de champions ligue Barcelone / Benfica. Du coup la soirée a été agrémentée des cris de nombreux clients supporter à quelques mètres de notre table.<br/>
                En effet un home cinéma grand écran permet de suivre le match tout en mangeant.<br/>
                Je ne suis pas amateur de foot, mais ce soir là, l'ambiance était tellement bonne que nous nous sommes pris au jeux.<br/>
                Et comme de plus les plats servis étaient excellent, nous n'avons pas regretté cette soirée .
              </p>
              <div class="author_box">
                <h6>ARTHUS</h6>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Déplacement professionnel</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                En déplacement professionnel du 8/04/ au 29/04/2012 pour un opérateur telecom, j'ai passé 3 semaines dans cet Etablissement<br/>
                J'étais logé dans un des 5 bungalows proposés : le bungalow N°3<br/>
                Ce dernier comporte une kitchenette avec plaque et frigo, un lit 2 places de confort moyen, une salle de bains avec douche, et une terrasse.<br/>
                Le tout équipé d'une climatisation un peu bruyante mais à laquelle on s'habitue assez vite, surtout lorsque la température dépasse les 30° la nuit.<br />
                Dans l'ensemble, le confort respecte ce que l'on trouve en Afrique pour des établissements de ce type.<br />
                Je n'ai pratique le restaurant que le soir, la carte est variée entre cuisine Africaine et européenne.<br />
                J'ai tout particulièrement apprécié la carte des vins Français, certes un peu chère, mais que ne ferait ont pas à 6000 Km du pays.<br />
                Coté ambiance, j'ai été ravi des soirée foot, des tournois de poker etc. J'ai lié très rapidement d'amitié avec de nombreux expat tous très sympa.<br />
                J'ai aimé également les concours de pétanque le soir ou le week end sur le terrain (très pro) jouxtant la salle de jeux.<br />
                En bref, je vous recommande cet établissement si vous souhaitez un environnement très convivial au lieu des ambiances plus austères et déshumanisées que l'on trouve dans les chaîne hôtelière de type méridien ou autres.<br />
              </p>
              <div class="author_box">
                <h6>THEOXYGENE</h6>
              </div>
            </div>
          </div>
        </div>

        <div class="span6">
          <div class="post">
            <div class="text">
              <h5>Pas mal le site</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                Je ne me suis pas encore rendu dans cet établissement, mais en tous les cas le site internet est pas mal fait :)
              </p>
              <div class="author_box">
                <h6>JASMINE</h6>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Soirée Paella</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                Cette soirée paella était mémorable. la qualité et la quantité était au rendez vous.
                L'ambiance musicale hispanique était parfaite sans être trop présente.<br/>
                Attention de réserver à l'avance pour ces évènements car le nombre de places est limité.<br/>
                Vivement la soirée choucroute !
              </p>
              <div class="author_box">
                <h6>THIERRY</h6>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Clean Canvas beautiful responsive theme.</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                There are many variations of passages of generators on the embarrassing hidden in slightly distracted by these distribution of letters, as opposed.
              </p>
              <div class="author_box">
                <h6>Alejandra Galvan</h6>
                <p>Creative Director</p>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Clean Canvas beautiful responsive theme.</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                There are many variations of passages of generators on the embarrassing hidden in slightly distracted by these distribution of letters, as opposed.
              </p>
              <div class="author_box">
                <h6>Alejandra Galvan</h6>
                <p>Creative Director</p>
              </div>
            </div>
          </div>
          <div class="post">
            <div class="text">
              <h5>Clean Canvas beautiful responsive theme.</h5>
              <div class="date">Wed, 12 dec.</div>
              <p>
                There are many variations of passages of generators on the embarrassing hidden in slightly distracted by these distribution of letters, as opposed.
              </p>
              <div class="author_box">
                <h6>Alejandra Galvan</h6>
                <p>Creative Director</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

}