@(feedbacks: Seq[models.Feedback],
  currentPage: Int,
  totalPage: Int)(implicit request: play.api.mvc.Request[AnyContent])


@main("Avis des clients - Garden Caffé") {

  <div id="feedback" class="content">
    <div class="container">
      <div class="section_header">
        <h3>Avis des clients</h3>
      </div>

      <div class="row post_row">
        @feedbacks.foreach( fb => utils.oneFeedback(fb))
      </div>

      @if(totalPage > 1) {
        <div id="pagination" class="pagination">
          <ul>
            <li>
              <a href="">Préc</a>
            </li>
            @for(i <-  1 to totalPage) {
              <li>
                <a href="@routes.FeedbackCtl.page()">@i</a>
              </li>
            }
            <li>
              <a href="">Suiv</a>
            </li>
          </ul>
        </div>
      }
    </div>
  </div>

}