@(events: Seq[Event])(implicit request: play.api.mvc.Request[AnyContent])

@main("Garden Caffé", "Hotel, bar, restaurant, salle de jeux et mini golf. " +
      "Lieu incontournable de la communauté expatriée à Libreville.") {

  <main>
    <div id="header" class="container">
      <div class="hero-unit">
        <h1>Bienvenue au Garden Caffé !</h1>
      </div>
    </div>

    <section id="presentation" class="services container">


      <div class="row">
        <div class="span7">
          <div class="section_header">
            <h3>Présentation</h3>
          </div>
          <div itemprop="description">
            <p>
              Le Garden Caffé vous accueille dans son hôtel, son bar et son restaurant.
              Lieu incontournable de la communauté expatriée, vous ne vous sentirez jamais seul !
            </p>
            <p>
              Situé à 5 minutes de la page, à 15 minutes de l'aéroport et à proximité du centre-ville,
              vous ne perdrez plus de temps.
            </p>
            <p>
              Que vous aimiez l'exotisme, ou préfériez le classique, nos bungalows et nos chambres
              confortables et entièrement équipés satisferont tous les goûts.
            </p>
            <p>
              Pour se divertir : écran géant, machine à sous, salle de jeux, mini golf, soirées à thème...
            </p>
            <p>
              <a class="btn btn-primary" href="@routes.BookingCtl.page()">Réservez maintenant !</a>
            </p>
          </div>
        </div>
        <div class="span4 offset1">
          <div class="section_header">
            <h3>Évènements à venir</h3>
          </div>
          <div id="gc-events-wrapper">
            <div id="gc-events">
              @events.map( event => utils.oneEvent(event) )
            </div>
            <i id="gc-event-previous" class="gc-event-arrow"></i>
            <i id="gc-event-next" class="gc-event-arrow"></i>
          </div>
        </div>
      </div>
    </section>

    <section class="services container">
      <div class="section_header">
        <h3>Dormir - Manger</h3>
      </div>

      <div class="row">
        @utils.oneProduct("Bungalows", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Au milieu de la verdure, climatisés, et équipés d'une cuisine.
          Venez goûter au calme et au confort de nos bungalows.
        }
        @utils.oneProduct("Chambres", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Spacieuses et climatisées pour un confort de premier plan,
          vous vous sentirez dans nos chambres comme chez vous.
        }
        @utils.oneProduct("Restaurant", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Cuisines européenne et africaine, accompagnées d'une cave très fournie.
          Vos papilles ne se lasseront pas de nos spécialités culinaires...
        }
      </div>
    </section>

    <section class="services container">
      <div class="section_header">
        <h3>Se divertir</h3>
      </div>

      <div class="row">
        @utils.oneProduct("Bar", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Soirées à thème, retransmissions sportives sur écran géant, bonne humeur.
          Vous ne vous ennuirez pas chez nous !
        }
        @utils.oneProduct("Salle de jeux", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Machines à sous, billard, flipper, jeux d'accardes... Il y en a pour les petits et les grands !
        }
        @utils.oneProduct("Mini Golf", "http://dummyimage.com/285x164/eeeeee/acacac.png") {
          Le seul mini golf du Gabon ! Pour s'amuser avec toute la famille.
        }
      </div>
    </section>
  </main>
    
}
