@(message: String)(implicit request: play.api.mvc.Request[AnyContent])

@main("Garden Caffé") {

  <main>
    <div id="header" class="container">
      <div class="hero-unit">
        <h1>Bienvenue au Garden Caffé !</h1>
      </div>
    </div>

    <section id="presentation" class="services container">


      <div class="row">
        <div class="span7">
          <div class="section_header">
            <h3>Présentation</h3>
          </div>
          <p>Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.</p>
          <p>
            <a class="btn btn-primary" href="@routes.BookingCtl.page()">Réservez maintenant !</a>
          </p>
        </div>
        <div class="span4 offset1">
          <div class="section_header">
            <h3>Évènements à venir</h3>
          </div>
          <div id="gc-events-wrapper">
            <div id="gc-events">
              <article id="toto" class="gc-event">
                <time class="gc-event-date">31/12/2013</time>
                <h5 class="gc-event-title">Soirée pocker 1</h5>
                <div class="gc-event-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod a urna eu.</div>
              </article>
              <article class="gc-event">
                <time class="gc-event-date">31/12/2013</time>
                <h5 class="gc-event-title">Soirée pocker 2</h5>
                <div class="gc-event-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod a urna eu lacinia. Mauris accumsan consequat magna et pulvinar amet.</div>
              </article>
              <article class="gc-event">
                <time class="gc-event-date">31/12/2013</time>
                <h5 class="gc-event-title">Soirée pocker 3</h5>
                <div class="gc-event-msg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris euismod a urna eu lacinia. Mauris accumsan consequat magna et pulvinar amet.</div>
              </article>
            </div>
            <i id="gc-event-previous" class="gc-event-arrow"></i>
            <i id="gc-event-next" class="gc-event-arrow"></i>
          </div>
        </div>
      </div>
    </section>

    <section class="services container">
      <div class="section_header">
        <h3>Dormir - Manger</h3>
      </div>

      <div class="row">
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Bungalows</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Chambres</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Restaurant</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
      </div>
    </section>

    <section class="services container">
      <div class="section_header">
        <h3>Se divertir</h3>
      </div>

      <div class="row">
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Bar</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Salle de jeux</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service" itemprop="makesOffer" itemscope itemtype="http://schema.org/Offer">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" itemprop="image" />
            </a>
          </header>
          <div class="text">
            <h4 itemprop="name">Mini Golf</h4>
            <p itemprop="description">
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
      </div>
    </section>
  </main>
    
}
