@(message: String)(implicit request: play.api.mvc.Request[AnyContent])

@main("Garden Caffé") {

  <main>
    <div id="header" class="container">
      <div class="hero-unit">
        <h1>Bienvenue au Garden Caffé !</h1>
      </div>
    </div>

    <section class="services container">
      <div class="section_header">
        <h3>Dormir - Manger</h3>
      </div>

      <div class="row">
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Bungalows</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Chambres</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Restaurant</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
      </div>
    </section>

    <section class="services container">
      <div class="section_header">
        <h3>Se divertir</h3>
      </div>

      <div class="row">
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Bar</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Salle de jeux</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
        <article class="span4 service">
          <header>
            <a href="#">
              <img class="img-rounded" src="http://dummyimage.com/285x164/eeeeee/acacac.png" alt="pixels" />
            </a>
          </header>
          <div class="text">
            <h4>Mini Golf</h4>
            <p>
              Toffee wafer marzipan liquorice cupcake cake. Carrot cake sweet dessert bonbon carrot cake sugar plum chupa chups fruitcake. Marshmallow ice cream soufflé sweet dessert topping.
            </p>
          </div>
        </article>
      </div>
    </section>
  </main>
    
}
